body {
  overflow-x: hidden;
  background-color: #ffffff;
}

img {
  vertical-align: bottom;
  width: 100%;
}

a {
  display: inline-block;
  transition: opacity 0.3s ease;
}
a:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

.container {
  max-width: 525px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

.cta-area {
  position: relative;
}
.cta-area .cta-btn {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 20px;
  width: 100%;
}
@media screen and (max-width: 425px) {
  .cta-area .cta-btn {
    padding: 0 20px;
  }
}
.cta-area .cta-btn img {
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgb(209, 207, 207));
}
.sec01 .cta-area .cta-btn {
  top: 37%;
}

.accordion-item {
  width: 100%;
}
.accordion-item .accordion-header {
  cursor: pointer;
}
.accordion-item .accordion-header .btn-opened {
  display: none;
}
.accordion-item .accordion-header .btn-closed {
  display: block;
}
.accordion-item .accordion-header.is-active .btn-opened {
  display: block;
}
.accordion-item .accordion-header.is-active .btn-closed {
  display: none;
}
.accordion-item .accordion-content {
  display: none;
  overflow: hidden;
  cursor: pointer;
}

.sec04 .slick .slider .slide {
  padding: 0 20px;
}
.sec04 .slick .slider .prev-arrow {
  height: 30px;
  width: 30px;
  background: url(../img/arrow.png);
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}
.sec04 .slick .slider .next-arrow {
  height: 30px;
  width: 30px;
  background: url(../img/arrow.png);
  background-size: contain;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(180deg);
  z-index: 10;
  cursor: pointer;
}
.sec04 .slick .slider .slick-dots {
  bottom: -20px;
}
.sec04 .slick .slider .slick-dots li {
  margin: 0 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.sec04 .slick .slider .slick-dots li button::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #999999;
  opacity: 1;
}
.sec04 .slick .slider .slick-dots li.slick-active button::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #e6877f;
  opacity: 1;
}
.sec04 .slick .slider .slick-dots .slick-active::before {
  content: "";
  width: 50px;
  height: 5px;
  background: #333;
  opacity: 1;
}

.sec05 {
  background-color: #3e4d54;
}

footer .container .fixedbtn {
  border-radius: 999px;
  position: fixed;
  z-index: 100;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 485px;
  width: calc(100% - 40px);
}
footer .container .fixedbtn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 999px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  footer .container .fixedbtn {
    max-width: 768px;
  }
}/*# sourceMappingURL=style.css.map */